.create-watchparty-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .create-watchparty-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
  }
  
  .create-watchparty-form input {
    padding: 10px;
    font-size: 16px;
  }
  
  .create-watchparty-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #FF6347;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .create-watchparty-form button:hover {
    background-color: #FF4500;
  }