/* src/components/SwipeComponent.css */
.home {
  margin-bottom: 10rem;
}

#swipeloader {
  background-color: #e05a47;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  opacity: 1;
  display: grid;
  place-items: center;
}
#swipeloader img {
  max-width: 225px;
}
#swipeloader.fadeOut {
  animation: fadeOut 1000ms ease-in-out forwards;
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden; /* Ändern von 0 zu hidden */
    z-index: -999;
  }
}

.swipe-page {
  padding: 4rem 2.35rem;
  max-width: 1200px; /* Ändern von 1920px zu 1200px */
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 750px) {
  .swipe-page {
    padding: 6rem 2.5rem;
  }
}

.swipe-component {
  /* gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  /* align-items: center; */
}

.swipe-thumbs {
  margin: 1rem 0;
  /* margin-bottom: 4rem; */
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 750px) {
  .swipe-thumbs {
    justify-content: space-around;
  }
}
.swipe-thumbs span {
  font-size: 3rem;
}

/* New Round */
.swiped-left-movies {
  display: none;
  text-align: center;
  color: white;
}
.swiped-left-movies ul {
  list-style: none;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 0;
  justify-content: center;
}
.swiped-left-movies-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.swiped-left-movies.reveal {
  display: block;
}

/* ---XXX----- */
.movie-card {
  position: relative;
  width: 300px;
  height: 450px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.buttons button {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  background: #ff6347;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.buttons button:hover {
  background: #ff4500;
}

.detail {
  text-align: center;
  padding: 20px;
}

.detail img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.detail h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detail p {
  font-size: 16px;
  color: #666;
}
