.create-party {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.create-party input {
  margin: 5px 0;
  padding: 10px;
}

.create-party button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.party-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 4rem;
}

.party-item{
  padding: 10px;
  transition: all 200ms;
}
.party-item:hover{
  background: #f9e1de17;
}
@media screen and (min-width: 768px) {
  .party-item{
    min-width: 350px;
  }
}


@media screen and (max-width: 768px) {
  .party-item{
    width: 100%;
  }
}

.party-link-container {
  text-decoration: none;
  text-align: center;
}

.party-link {
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 10px;
}

.party-link img {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  object-fit: cover;
  border: 4px solid #e05947b4;
}


.party-link div {
  display: flex;
  flex-direction: column;
}

.party-link .party-date{
  background: #e05a47;
  padding: 6px;
  border-radius: 6px;
  width: max-content;
  margin: .5rem auto;
}

.party-item h2 {
  margin: 0;
}

.party-item p {
  margin: 0;
}

.party-item button {
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}

.party-details {
  margin-top: 20px;
}