/* src/pages/Detail.css */

.detail {
    text-align: center;
    padding: 20px;
  }
  
  .detail img {
    width: 100%;
    max-width: 500px; /* Maximale Breite */
    height: auto;
    margin-bottom: 20px;
  }
  
  .detail h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .detail p {
    font-size: 16px;
    color: #666;
  }
  